doctype html
html
  head(lang="en")
    meta(charset="utf-8")
    title Nothing here
    link(rel="stylesheet", href="stylesheet/style.css")
      
  body
    h1 Inexistant page
    p Nothing here! You must go back!
