doctype html
html(ng-app="chaika")
  head(lang="en")
    meta(charset="utf-8")
    link(rel="stylesheet", href="components/angular-material/angular-material.min.css")
    link(rel="stylesheet", href="components/angular-material/default-theme.css")
    link(rel="stylesheet", href="stylesheets/style.css")
    title Chaikabot
    
  body(ng-controller="ChaikaCtrl as ctrl")
    div(layout="column" layout-align="space-around center")
      img#chaika(alt="Chaika?", ng-src="assets/{{ctrl.currentChaika}}",
        ng-click="ctrl.changeCurrentChaika()")
      md-button#yes-chaika.md-floating.md-primary(ng-click="ctrl.sendMessage('hello')") Chaika?
    
    include imports.jade
    script(src="scripts/app.js")
    script(src="scripts/chaika.js")
    
  #footer(layout="row" layout-align="center center")
    p Chaikabot by <a href="mailto:zoopditto@seize.ch">Zoopditto</a>
