<!DOCTYPE html>
<html ng-app="chaika">
  <head lang="en">
    <meta charset="utf-8">
    <link rel="stylesheet" href="components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="components/angular-material/default-theme.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Chaikabot</title>
  </head>
  <body ng-controller="ChaikaCtrl as ctrl">
    <div layout="column" layout-align="space-around center"><img id="chaika" alt="Chaika?" ng-src="assets/{{ctrl.currentChaika}}" ng-click="ctrl.changeCurrentChaika()">
      <md-button id="yes-chaika" ng-click="ctrl.sendMessage('hello')" class="md-floating md-primary">Chaika?</md-button>
    </div>
    <script src="components/angular/angular.min.js"></script>
    <script src="components/angular-animate/angular-animate.min.js"></script>
    <script src="components/angular-aria/angular-aria.min.js"></script>
    <script src="components/angular-material/angular-material.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/chaika.js"></script>
  </body>
  <div id="footer" layout="row" layout-align="center center">
    <p>Chaikabot by <a href="mailto:zoopditto@seize.ch">Zoopditto</a></p>
  </div>
</html>