body {
    font-family: "Ubuntu Light", helvetica, sans-serif;
	margin: 0;
	padding: 0;
    background: beige;
}

footer {
    font-family: "Courrier", monospace;
    font-size: 12px;
}

.centerImage {
    text-align: center;
    display: block;
}

#chaika {
	max-width: 90vw;
	height: auto;
}